* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden;
  margin-bottom: 2rem;
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide>* {
  flex-shrink: 0;
  width: 80vw;
  max-width: 80rem;
  margin: 0 2rem;
  opacity: .8;
  transform: scale(.8);
  transition: .4s;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
}

.slide>*.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

[data-control="slide"] > * > * {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: #FB5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: .5rem;
} 

[data-control="slide"] > *.active > *, [data-control="slide"] > * > *:hover {
  background: #E54;
}
